# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Native build
.externalNativeBuild/
.cxx/

# Android
captures/
